ul {
  list-style: none;
  width: 100px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
  background-color: lightgrey;
  padding: 0;
  position: absolute;
}

li {
  border-bottom: 1px solid grey;
  padding: 10px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

li:last-of-type {
  border-bottom: none;
}
